<!DOCTYPE html>
<html>
  <head>
    <title>StoreFront</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "angular/angular.min.js" %>
    <%= javascript_include_tag "angular-route/angular-route.min.js" %>
    <%= javascript_include_tag "angular-cookies/angular-cookies.js" %>
<!--     ############### angular material ###################### -->
    <%= javascript_include_tag "angular-animate/angular-animate.min.js" %>
    <%= javascript_include_tag "angular-aria/angular-aria.min.js" %>
    <%= javascript_include_tag "angular-messages/angular-messages.min.js" %>
    <%= javascript_include_tag "angular-material/angular-material.min.js" %>
    <link rel="stylesheet" href="angular-material/angular-material.min.css">
<!--     ############### controllers and factories ###################### -->
    <%= javascript_include_tag '/controllers/categoriesController.js' %>
    <%= javascript_include_tag '/factories/categoriesFactory.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
